.frame{
    padding-left: 27px;

}
.ing{
    margin-top: 41px;
}
.reg{
    display: flex;
    flex-direction: column;
    gap:23px;
}
.log1{
    margin-top: 68px;
    width: 360px;
    height: 73px;
    outline: none;
    border: 1px solid #002065;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 18px;
    font-family: Montserrat;
    
}
.log{
    width: 360px;
    height: 73px;
    outline: none;
    border: 1px solid #002065;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 18px;
    font-family: Montserrat;
}
.acc{
    margin-top:23px;
    font-size: 18px;
    font-family: Montserrat;
}
.sr{
    color: #3F9F2B;
}
.regin{
    width: 360px;
    height: 73px;
    outline: none;
    border: 1px solid #002065;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 18px;
    font-family: Montserrat;
    color: white;
    background-color: #3F9F2B;
}
